@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/lux/bootstrap.min.css";

body {
  background: #f6f7fb;
}

.navbar .btn {
  border-radius: 10px;
}
.navbar .btn.btn-primary {
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}
